<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Untitled Document</title>
	<link rel="stylesheet" href="/public/style.css" type="text/css">
</head>
<body>
	<div class="menu">
		<ul>
			<li><a href='/'>Home</a></li>
		</ul>
		
		<nav><h3>Parent Tables</h3>
			<ul>
				<li><a href='/view?table=movies'>Movies</a></li>
				<li><a href='/view?table=actors'>Actors</a></li>
				<li><a href='/view?table=genres'>Genres</a></li>
				<li><a href='/view?table=awards'>Best Picture Awards</a></li>
			</ul>
		</nav>

		<nav><h3>Child Tables</h3>
		<ul>
			<li><a href='/view?table=movies-actors'>Movies-Actors</a></li>
		</ul>
		</nav>

		<nav><h3>Queries</h3>
		<ul>
			<li><a href="/query?genre=comedy">Show comedy</a></li>
			<li><a href="/query?genre=drama">Show drama</a></li>
			<li><a href="/query?genre=sci-fi">Show sci-fi</a></li>
		</ul>
		</nav>

		<p>&nbsp;</p>

		<form id="form1" name="form1" method="post">
		  Search <br><input type="search"> <br><input type="submit">
		</form>
	</div>

	<div class="content">
		{{{body}}}
	<div>

</body>
</html>