<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Untitled Document</title>
	<link rel="stylesheet" href="/public/style.css" type="text/css">
</head>
<body>
	<div class="menu">
		<ul>
			<li><a href='/'>Home</a></li>
		</ul>
		
		<nav><h3>Parent Tables</h3>
			<ul>
				<li><a href='/view?table=movies'>Movies</a></li>
				<li><a href='/view?table=actors'>Actors</a></li>
				<li><a href='/view?table=genres'>Genres</a></li>
				<li><a href='/view?table=awards'>Best Picture Awards</a></li>
			</ul>
		</nav>

		<nav><h3>Child Tables</h3>
		<ul>
			<li><a href='/view?table=movies-actors'>Movies-Actors</a></li>
		</ul>
		</nav>
	</div>

	<div class="content">
		{{{body}}}
	<div>

</body>
</html>