<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Top 50 Movies</title>
	<link rel="stylesheet" href="/public/style.css" type="text/css">
</head>
<body>
	<div class="menu">
		<ul>
			<li><a href='/'>Home</a></li>
		</ul>
		
		<nav><h3>Tables</h3>
			<ul>
				<li><a href='/view?table=movies'>Movies</a></li>
				<li><a href='/view?table=actors'>Actors</a></li>
				<li><a href='/view?table=genres'>Genres</a></li>
				<li><a href='/view?table=awards'>Oscar Winners</a></li>
				<li><a href='/view?table=movies-actors'>Movies-Actors</a></li>
			</ul>
		</nav>
		
		<br><br>
		
		<h3>Search For Movies</h3>
		Search by <br>
		<form id="search" action="/search" method="post">
			<input type="radio" name="searchoption" id="title" value="title" checked>
			<label for="title">Movie Title</label><br>
			<input type="radio" name="searchoption" id="year" value="year">
			<label for="year">Release Year</label><br>
			
			<input type="radio" name="searchoption" id="genre" value="genre">
			<label for="year">Genre</label><br>

			<input type="text" id="search" name="search"><br>
			<input type="submit" value="Submit">
		</form>	
	</div>

	<div class="content">
		{{{body}}}
	<div>
</body>
</html>