<h1>Add New Entry to {{tableTitle}}</h1>
<p>Add new entry to table</p>
<p style="color:red;">{{error}}</p>
<form action="/add" method="post" id="add-row">
	<fieldset>
		{{> (whichPartial)}}
		<input type="submit" value="Submit">
	</fieldset>
</form>

<script>
	addSelected('default');
	
	function addSelected(id) {
		var el = document.getElementById(id)
		if (el != null || el != undefined) {
			var att = document.createAttribute("selected");
			document.getElementById(id).setAttributeNode(att); 
		}
	}
</script>