<h1>Add New/Update Entry</h1>

<form method="post" id="add-movie">
	<fieldset>
		{{#each colList}}
		  {{{this}}}<br><br>
		{{/each}}
		<button type="submit" form="add-movie" id="">Submit</button>
	</fieldset>
</form>