<h1>Home</h1>
<p>Welcome to RedDB Group Home Page for our CS340 Project</p>
<p>Top 50 movies in our database</p>

<table border="1">
  <tbody>
    <tr>
	  <th>Rank</th>
	  <th>Movie title</th>
	  <th>Release year</th>
	  <th>Genre</th>
	  <th>Won Best Picture</th>
	</tr>
	{{#each outer}}
      <tr>
	    <td>{{inc @index}}
        {{#each this}}
		  <td>{{this}}</td>
		{{/each}}
	  </tr>
	{{/each}}
  </tbody>
</table>
