<h1>Queries</h1>
	<p>This page shows the contents of the selected query</p>
	<p>Sample contents of query</p>
<table border="1">
  <tbody>
    <tr>
	  <th>Movie title</th>
	  <th>Release year</th>
	  <th>Genre</th>
	  <th>Won Best Picture</th>
	</tr>
	{{#each outer}}
      <tr>
        {{#each this}}
		  <td>{{this}}</td>
		{{/each}}
	  </tr>
	{{/each}}
  </tbody>
</table>