<h1>Queries</h1>
	<p>This page shows the contents of the selected query</p>
	<p>Sample contents of query</p>
<table border="1">
  <tbody>
    <tr>
      <td>Col 1</td>
      <td>Col 2</td>
    </tr>
    <tr>
      <td>Val</td>
      <td>Val</td>
    </tr>
    <tr>
      <td>Val</td>
      <td>Val</td>
    </tr>
  </tbody>
</table>