<h1>Parent Tables</h1>
	<p>This page shows the contents of the selected parent table.</p>
	<p>Sample contents of selected table:</p>
<table width="200" border="1">
  <tbody>
    <tr>
      <td>Col 1</td>
      <td>Col 2</td>
      <td><a href="#">Edit</a></td>
	  <td><a href="#">Delete</a></td>
    </tr>
    <tr>
      <td>Val</td>
      <td>Val</td>
      <td><a href="#">Edit</a></td>
	  <td><a href="#">Delete</a></td>	
    </tr>
    <tr>
      <td>Val</td>
      <td>Val</td>
      <td><a href="#">Edit</a></td>
	  <td><a href="#">Delete</a></td>
    </tr>
  </tbody>
</table>
	<p><a href="#">Add Row</a></p>