<h1>Update Entry in {{tableTitle}}</h1>
<p>Update the entry selected</p>
<p style="color:red;">{{error}}</p>

<form method="post" id="update-movie">
	<fieldset>
		{{> (whichPartial)}}
		<button type="submit" form="update-movie" id="">Submit</button>
	</fieldset>
</form>

<script>
	removeSelected('default');
	
	function removeSelected(id) {
		var el = document.getElementById(id)
		if (el != null || el != undefined) el.removeAttribute("selected");
	}
</script>