<h1>Update Entry</h1>
<p>Values from selected row will populate each non-empty field</p> 

<form method="post" id="update-movie">
	<fieldset>
		{{> (whichPartial)}}
		<button type="submit" form="update-movie" id="">Submit</button>
	</fieldset>
</form>