.menu {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: white;
	position: fixed;
	height: 100%;
	overflow: auto;
}

.menu ul {
	padding-left: 0;
}

.menu li {
	text-decoration: none;
	list-style-type: none;
}

.content {
	margin-left: 200px;
	padding: 0 20px;
	min-width: 800px;
	height: auto;
	overflow: auto;
	
}

table {
	max-width: 75%;
	min-width: 600px;
	border-collapse: collapse;
	margin-bottom: 10px;
}

th, td {
	padding: 5px;
}